src/LogicApp/GetAppPermission/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "get_list_ids_of_applications_permissions": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "reporting",
                        "containerId": "reports",
                        "queryText": "SELECT r.resourceAppId\n  FROM c\n  JOIN r IN c.requiredResourceAccess\n WHERE c.type = 'applications'"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "QueryDocuments",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {}
            },
            "if_contains_applications_permissions": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@body('get_list_ids_of_applications_permissions')?['count']",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Remove_duplicate_ids": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "appsIds",
                            "value": "@union(body('Parse_JSON_list_of_app_ids'),body('Parse_JSON_list_of_app_ids'))"
                        },
                        "runAfter": {
                            "Parse_JSON_list_of_app_ids": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Parse_JSON_list_of_app_ids": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('get_list_ids_of_applications_permissions')?['items']",
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "resourceAppId": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "resourceAppId"
                                    ]
                                }
                            }
                        },
                        "runAfter": {}
                    },
                    "For_each_app_id": {
                        "type": "Foreach",
                        "foreach": "@variables('appsIds')",
                        "actions": {
                            "Get_object_ID_for_SP": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals(appId='@{body('Parse_JSON_app_applicationId')?['resourceAppId']}')?$select=id",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_JSON_access_token')?['access_token']}"
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON_app_applicationId": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Parse_JSON_app_applicationId": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@items('For_each_app_id')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "resourceAppId": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "runAfter": {}
                            },
                            "Parse_JSON_objectID_from_application": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_object_ID_for_SP')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_object_ID_for_SP": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Get_application_permissions": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/@{body('Parse_JSON_objectID_from_application')?['id']}?$select=id,appDisplayName,appId,appRoles,oauth2PermissionScopes,resourceSpecificApplicationPermissions",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_JSON_access_token')?['access_token']}"
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON_objectID_from_application": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Append_to_array_variable_list_of_apps_permission": {
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                    "name": "appsWithExposedPermission",
                                    "value": "@outputs('Compose_document')"
                                },
                                "runAfter": {
                                    "Compose_document": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Parse_JSON_application_exposed_permissions": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_application_permissions')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "appDisplayName": {
                                                "type": "string"
                                            },
                                            "appId": {
                                                "type": "string"
                                            },
                                            "appRoles": {
                                                "type": "array"
                                            },
                                            "oauth2PermissionScopes": {
                                                "type": "array"
                                            },
                                            "resourceSpecificApplicationPermissions": {
                                                "type": "array"
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_application_permissions": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Compose_document": {
                                "type": "Compose",
                                "inputs": {
                                    "id": "@body('Parse_JSON_application_exposed_permissions')?['id']",
                                    "appId": "@body('Parse_JSON_application_exposed_permissions')?['appId']",
                                    "appDisplayName": "@body('Parse_JSON_application_exposed_permissions')?['appDisplayName']",
                                    "appRoles": "@body('Parse_JSON_application_exposed_permissions')?['appRoles']",
                                    "oauth2PermissionScopes": "@body('Parse_JSON_application_exposed_permissions')?['oauth2PermissionScopes']",
                                    "resourceSpecificApplicationPermissions": "@body('Parse_JSON_application_exposed_permissions')?['resourceSpecificApplicationPermissions']",
                                    "type": "appExposedPermissions"
                                },
                                "runAfter": {
                                    "Parse_JSON_application_exposed_permissions": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "Parse_JSON_access_token": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_access_token": {
                        "type": "Http",
                        "inputs": {
                            "method": "POST",
                            "uri": "https://login.microsoftonline.com/@{appsetting('WORKFLOWS_TENANT_ID')}/oauth2/v2.0/token",
                            "headers": {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "body": "grant_type=client_credentials&client_id=@{appsetting('CLIENT_ID')}&client_secret=@{appsetting('CLIENT_SECRET')}&scope=https://graph.microsoft.com/.default"
                        },
                        "runAfter": {
                            "Remove_duplicate_ids": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Parse_JSON_access_token": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_access_token')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token_type": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "integer"
                                    },
                                    "ext_expires_in": {
                                        "type": "integer"
                                    },
                                    "access_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Get_access_token": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Add_list_apps_with_exposed_permissions": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "databaseId": "reporting",
                                "containerId": "reports",
                                "items": "@variables('appsWithExposedPermission')",
                                "isUpsert": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureCosmosDB",
                                "operationId": "BulkCreateOrUpdateDocument",
                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                            }
                        },
                        "runAfter": {
                            "For_each_app_id": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Query_list_of_applications": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "databaseId": "reporting",
                                "containerId": "reports",
                                "queryText": "SELECT c.id,\n       c.appId,\n       c.displayName,\n       c.owners,\n       c.passwordCredentials,\n       c.api,\n       c.appRoles,\n       c.requiredResourceAccess,\n       c.type\n  FROM c\n WHERE EXISTS(SELECT VALUE r FROM r IN c.requiredResourceAccess)\n      AND c.type = 'applications'"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureCosmosDB",
                                "operationId": "QueryDocuments",
                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                            }
                        },
                        "runAfter": {
                            "Add_list_apps_with_exposed_permissions": [
                                "Succeeded"
                            ]
                        }
                    },
                    "if_contains_applications": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@body('Query_list_of_applications')?['count']",
                                        0
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Parse_JSON_list_of_applications": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Query_list_of_applications')?['items']",
                                    "schema": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "owners": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@@odata.type": {
                                                                "type": "string"
                                                            },
                                                            "userPrincipalName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "@@odata.type",
                                                            "userPrincipalName"
                                                        ]
                                                    }
                                                },
                                                "passwordCredentials": {
                                                    "type": "array"
                                                },
                                                "api": {
                                                    "type": "object",
                                                    "properties": {
                                                        "acceptMappedClaims": {},
                                                        "knownClientApplications": {
                                                            "type": "array"
                                                        },
                                                        "requestedAccessTokenVersion": {},
                                                        "oauth2PermissionScopes": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "adminConsentDescription": {
                                                                        "type": "string"
                                                                    },
                                                                    "adminConsentDisplayName": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "isEnabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "userConsentDescription": {},
                                                                    "userConsentDisplayName": {},
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "adminConsentDescription",
                                                                    "adminConsentDisplayName",
                                                                    "id",
                                                                    "isEnabled",
                                                                    "type",
                                                                    "userConsentDescription",
                                                                    "userConsentDisplayName",
                                                                    "value"
                                                                ]
                                                            }
                                                        },
                                                        "preAuthorizedApplications": {
                                                            "type": "array"
                                                        }
                                                    }
                                                },
                                                "appRoles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "allowedMemberTypes": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "isEnabled": {
                                                                "type": "boolean"
                                                            },
                                                            "origin": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "allowedMemberTypes",
                                                            "description",
                                                            "displayName",
                                                            "id",
                                                            "isEnabled",
                                                            "origin",
                                                            "value"
                                                        ]
                                                    }
                                                },
                                                "requiredResourceAccess": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "resourceAppId": {
                                                                "type": "string"
                                                            },
                                                            "resourceAccess": {
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "resourceAppId",
                                                            "resourceAccess"
                                                        ]
                                                    }
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "appId",
                                                "displayName",
                                                "owners",
                                                "passwordCredentials",
                                                "api",
                                                "appRoles",
                                                "requiredResourceAccess",
                                                "type"
                                            ]
                                        }
                                    }
                                },
                                "runAfter": {}
                            },
                            "For_each_applications": {
                                "type": "Foreach",
                                "foreach": "@body('Parse_JSON_list_of_applications')",
                                "actions": {
                                    "For_each_requieredResourceAccess": {
                                        "type": "Foreach",
                                        "foreach": "@items('For_each_applications')['requiredResourceAccess']",
                                        "actions": {
                                            "Parse_JSON_requieredResrouceAccess": {
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@items('For_each_requieredResourceAccess')",
                                                    "schema": {
                                                        "type": "object",
                                                        "properties": {
                                                            "resourceAppId": {
                                                                "type": "string"
                                                            },
                                                            "appDisplayName": {
                                                                "type": "string"
                                                            },
                                                            "resourceAccess": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "type"
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "runAfter": {}
                                            },
                                            "For_each_resourceAccess": {
                                                "type": "Foreach",
                                                "foreach": "@body('Parse_JSON_requieredResrouceAccess')?['resourceAccess']",
                                                "actions": {
                                                    "Parse_JSON_resourceAccess": {
                                                        "type": "ParseJson",
                                                        "inputs": {
                                                            "content": "@items('For_each_resourceAccess')",
                                                            "schema": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {}
                                                    },
                                                    "if_condition_is_scope": {
                                                        "type": "If",
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "equals": [
                                                                        "@body('Parse_JSON_resourceAccess')?['type']",
                                                                        "Scope"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "actions": {
                                                            "get_scope_permission": {
                                                                "type": "ServiceProvider",
                                                                "inputs": {
                                                                    "parameters": {
                                                                        "databaseId": "reporting",
                                                                        "containerId": "reports",
                                                                        "queryText": "SELECT VALUE s\n  FROM c\n  JOIN s IN c.oauth2PermissionScopes\n WHERE c.type = 'appExposedPermissions'\n   AND c.appId = '@{body('Parse_JSON_requieredResrouceAccess')?['resourceAppId']}'\n   AND s.id = '@{body('Parse_JSON_resourceAccess')?['id']}'"
                                                                    },
                                                                    "serviceProviderConfiguration": {
                                                                        "connectionName": "AzureCosmosDB",
                                                                        "operationId": "QueryDocuments",
                                                                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                                                    }
                                                                },
                                                                "runAfter": {}
                                                            },
                                                            "Parse_JSON_scope": {
                                                                "type": "ParseJson",
                                                                "inputs": {
                                                                    "content": "@first(outputs('get_scope_permission')?['body']?['items'])",
                                                                    "schema": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "adminConsentDescription": {
                                                                                "type": "string"
                                                                            },
                                                                            "adminConsentDisplayName": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "isEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "get_scope_permission": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            },
                                                            "Append_to_array_variable_scopes": {
                                                                "type": "AppendToArrayVariable",
                                                                "inputs": {
                                                                    "name": "scopes",
                                                                    "value": {
                                                                        "id": "@body('Parse_JSON_scope')?['id']",
                                                                        "displayName": "@body('Parse_JSON_scope')?['adminConsentDisplayName']",
                                                                        "type": "@body('Parse_JSON_scope')?['type']",
                                                                        "value": "@body('Parse_JSON_scope')?['value']",
                                                                        "kind": "Scope"
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Parse_JSON_scope": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Parse_JSON_resourceAccess": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "else": {
                                                            "actions": {
                                                                "get_role_permission": {
                                                                    "type": "ServiceProvider",
                                                                    "inputs": {
                                                                        "parameters": {
                                                                            "databaseId": "reporting",
                                                                            "containerId": "reports",
                                                                            "queryText": "SELECT VALUE a\n  FROM c\n  JOIN a IN c.appRoles\n WHERE c.type = 'appExposedPermissions'\n   AND c.appId = '@{body('Parse_JSON_requieredResrouceAccess')?['resourceAppId']}'\n   AND a.id = '@{body('Parse_JSON_resourceAccess')?['id']}'"
                                                                        },
                                                                        "serviceProviderConfiguration": {
                                                                            "connectionName": "AzureCosmosDB",
                                                                            "operationId": "QueryDocuments",
                                                                            "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                                                        }
                                                                    },
                                                                    "runAfter": {}
                                                                },
                                                                "Parse_JSON_roles": {
                                                                    "type": "ParseJson",
                                                                    "inputs": {
                                                                        "content": "@first(outputs('get_role_permission')?['body']?['items'])",
                                                                        "schema": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "description": {
                                                                                    "type": "string"
                                                                                },
                                                                                "displayName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "isEnabled": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "origin": {
                                                                                    "type": "string"
                                                                                },
                                                                                "value": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "get_role_permission": [
                                                                            "Succeeded"
                                                                        ]
                                                                    }
                                                                },
                                                                "Append_to_array_variable_roles": {
                                                                    "type": "AppendToArrayVariable",
                                                                    "inputs": {
                                                                        "name": "roles",
                                                                        "value": {
                                                                            "id": "@body('Parse_JSON_roles')?['id']",
                                                                            "displayName": "@body('Parse_JSON_roles')?['displayName']",
                                                                            "origin": "@body('Parse_JSON_roles')?['origin']",
                                                                            "value": "@body('Parse_JSON_roles')?['value']",
                                                                            "type": "",
                                                                            "kind": "Role"
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "Parse_JSON_roles": [
                                                                            "Succeeded"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Parse_JSON_appDisplayname": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Append_to_array_variable_requiredResourcesAccess": {
                                                "type": "AppendToArrayVariable",
                                                "inputs": {
                                                    "name": "requiredResourcesAccess",
                                                    "value": {
                                                        "resourceAppId": "@body('Parse_JSON_requieredResrouceAccess')?['resourceAppId']",
                                                        "appDisplayName": "@first(outputs('get_appDisplayName')?['body']?['items'])['appDisplayName']",
                                                        "resourceAccess": "@union(variables('scopes'),variables('roles'))"
                                                    }
                                                },
                                                "runAfter": {
                                                    "For_each_resourceAccess": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "get_appDisplayName": {
                                                "type": "ServiceProvider",
                                                "inputs": {
                                                    "parameters": {
                                                        "databaseId": "reporting",
                                                        "containerId": "reports",
                                                        "queryText": "select c.appDisplayName\n  from c \n where c.appId = '@{body('Parse_JSON_requieredResrouceAccess')?['resourceAppId']}'\n   and c.type = 'appExposedPermissions'"
                                                    },
                                                    "serviceProviderConfiguration": {
                                                        "connectionName": "AzureCosmosDB",
                                                        "operationId": "QueryDocuments",
                                                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Parse_JSON_requieredResrouceAccess": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Parse_JSON_appDisplayname": {
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('get_appDisplayName')?['items']",
                                                    "schema": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "appDisplayName": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "appDisplayName"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "get_appDisplayName": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Set_variable_roles": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "roles",
                                                    "value": []
                                                },
                                                "runAfter": {
                                                    "Append_to_array_variable_requiredResourcesAccess": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Set_variable_scopes": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "scopes",
                                                    "value": []
                                                },
                                                "runAfter": {
                                                    "Set_variable_roles": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            }
                                        },
                                        "runAfter": {}
                                    },
                                    "Compose_updated_application_document": {
                                        "type": "Compose",
                                        "inputs": {
                                            "id": "@items('For_each_applications')['id']",
                                            "appId": "@items('For_each_applications')['appId']",
                                            "owners": "@items('For_each_applications')['owners']",
                                            "displayName": "@items('For_each_applications')['displayName']",
                                            "type": "@items('For_each_applications')['type']",
                                            "passwordCredentials": "@items('For_each_applications')['passwordCredentials']",
                                            "api": "@items('For_each_applications')['api']",
                                            "appRoles": "@items('For_each_applications')['appRoles']",
                                            "requiredResourceAccess": "@variables('requiredResourcesAccess')"
                                        },
                                        "runAfter": {
                                            "For_each_requieredResourceAccess": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Update_application": {
                                        "type": "ServiceProvider",
                                        "inputs": {
                                            "parameters": {
                                                "databaseId": "reporting",
                                                "containerId": "reports",
                                                "item": "@outputs('Compose_updated_application_document')",
                                                "isUpsert": true
                                            },
                                            "serviceProviderConfiguration": {
                                                "connectionName": "AzureCosmosDB",
                                                "operationId": "CreateOrUpdateDocument",
                                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                            }
                                        },
                                        "runAfter": {
                                            "Compose_updated_application_document": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "init_requiered_resource_access": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "requiredResourcesAccess",
                                            "value": []
                                        },
                                        "runAfter": {
                                            "Update_application": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Init_variable_roles": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "roles",
                                            "value": []
                                        },
                                        "runAfter": {
                                            "init_requiered_resource_access": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "init_scopes": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "scopes",
                                            "value": []
                                        },
                                        "runAfter": {
                                            "Init_variable_roles": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON_list_of_applications": [
                                        "Succeeded"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "concurrency": {
                                        "repetitions": 1
                                    }
                                }
                            },
                            "Query_applications_with_permission": {
                                "type": "ServiceProvider",
                                "inputs": {
                                    "parameters": {
                                        "databaseId": "reporting",
                                        "containerId": "reports",
                                        "queryText": "SELECT c.appId as ApplicationId,\n       c.displayName as ApplicationName,\n       r.appDisplayName as ApiPermissionName,\n       a[\"value\"] as PermissionName\n  FROM c\n  JOIN r IN c.requiredResourceAccess\n  JOIN a IN r.resourceAccess\n WHERE c.type = \"applications\""
                                    },
                                    "serviceProviderConfiguration": {
                                        "connectionName": "AzureCosmosDB",
                                        "operationId": "QueryDocuments",
                                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                    }
                                },
                                "runAfter": {
                                    "For_each_applications": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Create_CSV_table_list_of_applications_with_permissions": {
                                "type": "Table",
                                "inputs": {
                                    "from": "@body('Query_applications_with_permission')?['items']",
                                    "format": "CSV"
                                },
                                "runAfter": {
                                    "Query_applications_with_permission": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Upload_report_apps_with_permissions": {
                                "type": "ServiceProvider",
                                "inputs": {
                                    "parameters": {
                                        "containerName": "reports",
                                        "blobName": "@concat()",
                                        "content": "@body('Create_CSV_table_list_of_applications_with_permissions')",
                                        "overrideIfExists": true
                                    },
                                    "serviceProviderConfiguration": {
                                        "connectionName": "AzureBlob",
                                        "operationId": "uploadBlob",
                                        "serviceProviderId": "/serviceProviders/AzureBlob"
                                    }
                                },
                                "runAfter": {
                                    "Create_CSV_table_list_of_applications_with_permissions": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "Query_list_of_applications": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_requiredResourcesAccess": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_list_of_app_ids": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "appsIds",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_currentDate": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_list_of_apps_exposed_permissions": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "appsWithExposedPermission",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_list_of_app_ids": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_scopes": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "scopes",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_list_of_apps_exposed_permissions": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_roles": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "roles",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_scopes": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_requiredResourcesAccess": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "requiredResourcesAccess",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_roles": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_currentDate": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "currentDate",
                            "type": "string",
                            "value": "@{utcNow()}"
                        }
                    ]
                },
                "runAfter": {
                    "get_list_ids_of_applications_permissions": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}