src/LogicApp/GetAppPermission/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "get_applications": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "reporting",
                        "containerId": "reports",
                        "queryText": "SELECT TOP 10 c.id,\n       c.appId,\n       c.displayName,\n       c.owners,\n       c.passwordCredentials,\n       c.api,\n       c.appRoles,\n       c.requiredResourceAccess\n  FROM c\n WHERE EXISTS(SELECT VALUE r FROM r IN c.requiredResourceAccess)\n      AND c.type = 'applications'\nORDER BY c.id"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "QueryDocuments",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {}
            },
            "if_applications_found": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@body('get_applications')?['count']",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "For_each_applications": {
                        "type": "Foreach",
                        "foreach": "@body('get_applications')?['items']",
                        "actions": {
                            "Parse_JSON_application": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@items('For_each_applications')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "appId": {
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "owners": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@@odata.type": {
                                                            "type": "string"
                                                        },
                                                        "userPrincipalName": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "@@odata.type",
                                                        "userPrincipalName"
                                                    ]
                                                }
                                            },
                                            "passwordCredentials": {
                                                "type": "array"
                                            },
                                            "api": {
                                                "type": "object",
                                                "properties": {
                                                    "acceptMappedClaims": {},
                                                    "knownClientApplications": {
                                                        "type": "array"
                                                    },
                                                    "requestedAccessTokenVersion": {},
                                                    "oauth2PermissionScopes": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "adminConsentDescription": {
                                                                    "type": "string"
                                                                },
                                                                "adminConsentDisplayName": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "isEnabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "userConsentDescription": {},
                                                                "userConsentDisplayName": {},
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "adminConsentDescription",
                                                                "adminConsentDisplayName",
                                                                "id",
                                                                "isEnabled",
                                                                "type",
                                                                "userConsentDescription",
                                                                "userConsentDisplayName",
                                                                "value"
                                                            ]
                                                        }
                                                    },
                                                    "preAuthorizedApplications": {
                                                        "type": "array"
                                                    }
                                                }
                                            },
                                            "appRoles": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "allowedMemberTypes": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "isEnabled": {
                                                            "type": "boolean"
                                                        },
                                                        "origin": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "allowedMemberTypes",
                                                        "description",
                                                        "displayName",
                                                        "id",
                                                        "isEnabled",
                                                        "origin",
                                                        "value"
                                                    ]
                                                }
                                            },
                                            "requiredResourceAccess": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "resourceAppId": {
                                                            "type": "string"
                                                        },
                                                        "resourceAccess": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "type"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "resourceAppId",
                                                        "resourceAccess"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {}
                            },
                            "For_each_requiered_resources_access": {
                                "type": "Foreach",
                                "foreach": "@body('Parse_JSON_application')?['requiredResourceAccess']",
                                "actions": {
                                    "Parse_JSON_requiredResourceAccess": {
                                        "type": "ParseJson",
                                        "inputs": {
                                            "content": "@items('For_each_requiered_resources_access')",
                                            "schema": {
                                                "type": "object",
                                                "properties": {
                                                    "resourceAppId": {
                                                        "type": "string"
                                                    },
                                                    "resourceAccess": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "type"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {}
                                    },
                                    "if_application_not_saved_already": {
                                        "type": "If",
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@contains(variables('appIdProcessed'),body('Parse_JSON_requiredResourceAccess')?['resourceAppId'])",
                                                        "@false"
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "Get_SP_object_ID": {
                                                "type": "Http",
                                                "inputs": {
                                                    "method": "GET",
                                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals(appId='@{body('Parse_JSON_requiredResourceAccess')?['resourceAppId']}')?$select=id",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('Parse_JSON_access_token')?['access_token']}"
                                                    }
                                                },
                                                "runAfter": {}
                                            },
                                            "Parse_JSON_SP_objectID": {
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('Get_SP_object_ID')",
                                                    "schema": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@@odata.context": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Get_SP_object_ID": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Get_applications_permissions": {
                                                "type": "Http",
                                                "inputs": {
                                                    "method": "GET",
                                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/951e1833-9aac-4026-954c-076fbd963def?$select=id,appDisplayName,appId,appRoles,oauth2PermissionScopes,resourceSpecificApplicationPermissions",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('Parse_JSON_access_token')?['access_token']}"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Parse_JSON_SP_objectID": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Append_to_array_appIdProcessed": {
                                                "type": "AppendToArrayVariable",
                                                "inputs": {
                                                    "name": "appIdProcessed",
                                                    "value": "@body('Parse_JSON_requiredResourceAccess')?['resourceAppId']"
                                                },
                                                "runAfter": {
                                                    "Get_applications_permissions": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Parse_JSON_requiredResourceAccess": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON_application": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "Parse_JSON_access_token": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_access_token": {
                        "type": "Http",
                        "inputs": {
                            "method": "POST",
                            "uri": "https://login.microsoftonline.com/@{appsetting('WORKFLOWS_TENANT_ID')}/oauth2/v2.0/token",
                            "headers": {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "body": "grant_type=client_credentials&client_id=@{appsetting('CLIENT_ID')}&client_secret=@{appsetting('CLIENT_SECRET')}&scope=https://graph.microsoft.com/.default"
                        },
                        "runAfter": {}
                    },
                    "Parse_JSON_access_token": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_access_token')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token_type": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "integer"
                                    },
                                    "ext_expires_in": {
                                        "type": "integer"
                                    },
                                    "access_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Get_access_token": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_list_of_appId_processed": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_list_of_permission": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "appListOfPermission",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "get_applications": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_list_of_appId_processed": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "appIdProcessed",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_list_of_permission": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}