src/LogicApp/GetApplicationsPermissions/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_custom_application_scopes": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "reporting",
                        "containerId": "reports",
                        "queryText": "SELECT c.id,c.appId,c.displayName,c.api.oauth2PermissionScopes\n  FROM c\n  JOIN o IN c.api.oauth2PermissionScopes\n WHERE o.type = \"Admin\"\n ORDER BY c.id"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "QueryDocuments",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {}
            },
            "if_contains_custom_applications": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@body('Get_custom_application_scopes')?['count']",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Set_variable_customApplications_(bug_DISTINCT_cosmosDB_connector)": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "customApplications",
                            "value": "@union(outputs('Get_custom_application_scopes')?['body']?['items'],outputs('Get_custom_application_scopes')?['body']?['items'])"
                        },
                        "runAfter": {}
                    },
                    "Parse_JSON_cosmosDB_results": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@variables('customApplications')",
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "appId": {
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "oauth2PermissionScopes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "adminConsentDescription": {
                                                        "type": "string"
                                                    },
                                                    "adminConsentDisplayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "isEnabled": {
                                                        "type": "boolean"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "userConsentDescription": {},
                                                    "userConsentDisplayName": {},
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "adminConsentDescription",
                                                    "adminConsentDisplayName",
                                                    "id",
                                                    "isEnabled",
                                                    "type",
                                                    "userConsentDescription",
                                                    "userConsentDisplayName",
                                                    "value"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "displayName",
                                        "oauth2PermissionScopes"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "Set_variable_customApplications_(bug_DISTINCT_cosmosDB_connector)": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Select": {
                        "type": "Select",
                        "inputs": {
                            "from": "@body('Parse_JSON_cosmosDB_results')",
                            "select": {
                                "displayName": "@item()['displayName']",
                                "scopes": "@item()['oauth2PermissionScopes']",
                                "type": "appExposePermissions",
                                "id": "@item()['id']",
                                "appId": "@item()?['appId']"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON_cosmosDB_results": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Insert_custom_applications": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "databaseId": "reporting",
                                "containerId": "reports",
                                "items": "@body('Select')",
                                "isUpsert": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureCosmosDB",
                                "operationId": "BulkCreateOrUpdateDocument",
                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                            }
                        },
                        "runAfter": {
                            "Select": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_customApplications": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "customApplications",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Get_custom_application_scopes": [
                        "Succeeded"
                    ]
                }
            },
            "get_list_applications_with_api_permissions": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "reporting",
                        "containerId": "reports",
                        "queryText": "SELECT r.resourceAppId as appId\n  FROM c\n  JOIN r IN c.requiredResourceAccess\n WHERE c.type = \"applications\""
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "QueryDocuments",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Initialize_variable_list_of_api_permission": [
                        "Succeeded"
                    ]
                }
            },
            "get_list_app_exposed_permissions": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "reporting",
                        "containerId": "reports",
                        "queryText": "SELECT c.appId\n  FROM c\n WHERE c.type = \"appExposePermissions\""
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "QueryDocuments",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "get_list_applications_with_api_permissions": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_list_of_api_permission": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "apiPermissions",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "if_contains_custom_applications": [
                        "Succeeded"
                    ]
                }
            },
            "if_get_list_permissions_contains_applications": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@body('get_list_applications_with_api_permissions')?['count']",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "app_exposed_permissions_not_null": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@body('get_list_app_exposed_permissions')?['count']",
                                        0
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Parse_JSON_api_with_exposed_permission": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('get_list_app_exposed_permissions')?['items']",
                                    "schema": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "appId": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "appId"
                                            ]
                                        }
                                    }
                                },
                                "runAfter": {}
                            },
                            "Parse_JSON_with_api_with_permissions": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('get_list_applications_with_api_permissions')?['items']",
                                    "schema": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "appId": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "appId"
                                            ]
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON_api_with_exposed_permission": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "For_each_2": {
                                "type": "Foreach",
                                "foreach": "@body('Parse_JSON_api_with_exposed_permission')",
                                "actions": {
                                    "Filter_array_2": {
                                        "type": "Query",
                                        "inputs": {
                                            "from": "@body('Parse_JSON_with_api_with_permissions')",
                                            "where": "@not(equals(item()['appId'], items('For_each_2')))"
                                        },
                                        "runAfter": {}
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON_with_api_with_permissions": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "runAfter": {},
                        "else": {
                            "actions": {
                                "Set_variable_apps_with_api_permission": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "apiPermissions",
                                        "value": "@body('get_list_applications_with_api_permissions')?['items']"
                                    },
                                    "runAfter": {}
                                }
                            }
                        }
                    },
                    "For_each_app_with_missing_permission": {
                        "type": "Foreach",
                        "foreach": "@body('Parse_JSON_apiPermissions')",
                        "actions": {
                            "Get_app_object_id": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals(appId='@{items('For_each_app_with_missing_permission')['appId']}')?$select=id",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_access_token')?['access_token']}"
                                    }
                                },
                                "runAfter": {}
                            },
                            "Parse_JSON_objectID_none_custom_application": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_app_object_id')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_app_object_id": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Get_application_scopes": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/@{body('Parse_JSON_objectID_none_custom_application')?['id']}?$select=appId,id,appDisplayName,appRoles",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_access_token')?['access_token']}"
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON_objectID_none_custom_application": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Append_to_collection_apps_with_scopes": {
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                    "name": "appswithroles",
                                    "value": "@body('Get_application_scopes')"
                                },
                                "runAfter": {
                                    "Get_application_scopes": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "Parse_access_token": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Parse_JSON_apiPermissions": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@variables('apiPermissions')",
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "appId": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "appId"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "app_exposed_permissions_not_null": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_access_token": {
                        "type": "Http",
                        "inputs": {
                            "method": "POST",
                            "uri": "https://login.microsoftonline.com/@{appsetting('WORKFLOWS_TENANT_ID')}/oauth2/v2.0/token",
                            "headers": {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "body": "grant_type=client_credentials&client_id=@{appsetting('CLIENT_ID')}&client_secret=@{appsetting('CLIENT_SECRET')}&scope=https://graph.microsoft.com/.default"
                        },
                        "runAfter": {
                            "Parse_JSON_apiPermissions": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Parse_access_token": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_access_token')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token_type": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "integer"
                                    },
                                    "ext_expires_in": {
                                        "type": "integer"
                                    },
                                    "access_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Get_access_token": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "get_list_app_exposed_permissions": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_appswithRole": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "appswithroles",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_customApplications": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "test",
                            "type": "object"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_appswithRole": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}