src/LogicApp/GetListAppRegistration/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_JWT_Token_Azure_Active_Directory": {
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "https://login.microsoftonline.com/@{appsetting('WORKFLOWS_TENANT_ID')}/oauth2/v2.0/token",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": "grant_type=client_credentials&client_id=@{appsetting('CLIENT_ID')}&client_secret=@{appsetting('CLIENT_SECRET')}&scope=https://graph.microsoft.com/.default"
                },
                "runAfter": {}
            },
            "Initialize_variable_loop": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "continueFetching",
                            "type": "boolean",
                            "value": "@true"
                        }
                    ]
                },
                "runAfter": {
                    "Get_JWT_Token_Azure_Active_Directory": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_MsGraph_Endpoint": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "msGraphEndpoint",
                            "type": "string",
                            "value": "https://graph.microsoft.com/v1.0/applications?$select=id,DisplayName,api,appRoles,passwordCredentials,requiredResourceAccess&$expand=owners($select=userPrincipalName)&$top=15"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_loop": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_list_of_applications": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "applications",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_MsGraph_Endpoint": [
                        "Succeeded"
                    ]
                }
            },
            "validate_JWT_token_was_obtain": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@outputs('Get_JWT_Token_Azure_Active_Directory')['statusCode']",
                                200
                            ]
                        }
                    ]
                },
                "actions": {
                    "Get_Bearer_Token": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_JWT_Token_Azure_Active_Directory')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token_type": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "integer"
                                    },
                                    "ext_expires_in": {
                                        "type": "integer"
                                    },
                                    "access_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "runAfter": {}
                    },
                    "Until_result_to_fetch": {
                        "type": "Until",
                        "expression": "@equals(variables('continueFetching'), false)",
                        "limit": {
                            "count": 60,
                            "timeout": "PT1H"
                        },
                        "actions": {
                            "Parse_JSON_result_applications": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_Applications_owners')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "api": {
                                                            "type": "object",
                                                            "properties": {
                                                                "acceptMappedClaims": {},
                                                                "knownClientApplications": {
                                                                    "type": "array"
                                                                },
                                                                "requestedAccessTokenVersion": {},
                                                                "oauth2PermissionScopes": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "adminConsentDescription": {
                                                                                "type": "string"
                                                                            },
                                                                            "adminConsentDisplayName": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "isEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            },
                                                                            "userConsentDescription": {},
                                                                            "userConsentDisplayName": {},
                                                                            "value": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "adminConsentDescription",
                                                                            "adminConsentDisplayName",
                                                                            "id",
                                                                            "isEnabled",
                                                                            "type",
                                                                            "userConsentDescription",
                                                                            "userConsentDisplayName",
                                                                            "value"
                                                                        ]
                                                                    }
                                                                },
                                                                "preAuthorizedApplications": {
                                                                    "type": "array"
                                                                }
                                                            }
                                                        },
                                                        "appRoles": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "allowedMemberTypes": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "displayName": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "isEnabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "origin": {
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "allowedMemberTypes",
                                                                    "description",
                                                                    "displayName",
                                                                    "id",
                                                                    "isEnabled",
                                                                    "origin",
                                                                    "value"
                                                                ]
                                                            }
                                                        },
                                                        "passwordCredentials": {
                                                            "type": "array"
                                                        },
                                                        "requiredResourceAccess": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "resourceAppId": {
                                                                        "type": "string"
                                                                    },
                                                                    "resourceAccess": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id",
                                                                                "type"
                                                                            ]
                                                                        }
                                                                    }
                                                                },
                                                                "required": [
                                                                    "resourceAppId",
                                                                    "resourceAccess"
                                                                ]
                                                            }
                                                        },
                                                        "owners": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "@@odata.type": {
                                                                        "type": "string"
                                                                    },
                                                                    "userPrincipalName": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "@@odata.type",
                                                                    "userPrincipalName"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "displayName",
                                                        "api",
                                                        "appRoles",
                                                        "passwordCredentials",
                                                        "requiredResourceAccess",
                                                        "owners"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_Applications_owners": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Get_Applications_owners": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "@variables('msGraphEndpoint')",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Bearer_Token')?['access_token']}"
                                    }
                                },
                                "runAfter": {}
                            },
                            "For_each": {
                                "type": "Foreach",
                                "foreach": "@body('Parse_JSON_result_applications')?['value']",
                                "actions": {
                                    "Append_to_array_variable": {
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                            "name": "applications",
                                            "value": "@outputs('Compose_JSON_document_application')"
                                        },
                                        "runAfter": {
                                            "Compose_JSON_document_application": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Compose_JSON_document_application": {
                                        "type": "Compose",
                                        "inputs": {
                                            "id": "@items('For_each')?['id']",
                                            "displayName": "@items('For_each')?['displayName']",
                                            "owners": "@items('For_each')?['owners']",
                                            "currentDate": "@variables('currentDate')",
                                            "passwordCredentials": "@items('For_each')?['passwordCredentials']",
                                            "api": "@items('For_each')?['api']",
                                            "appRoles": "@items('For_each')?['appRoles']",
                                            "requiredResourceAccess": "@items('For_each')?['requiredResourceAccess']"
                                        },
                                        "runAfter": {}
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON_result_applications": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Create_or_Update_applications": {
                                "type": "ServiceProvider",
                                "inputs": {
                                    "parameters": {
                                        "databaseId": "reporting",
                                        "containerId": "reports",
                                        "items": "@variables('applications')",
                                        "isUpsert": true
                                    },
                                    "serviceProviderConfiguration": {
                                        "connectionName": "AzureCosmosDB",
                                        "operationId": "BulkCreateOrUpdateDocument",
                                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                    }
                                },
                                "runAfter": {
                                    "For_each": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Condition": {
                                "type": "If",
                                "expression": {
                                    "or": [
                                        {
                                            "equals": [
                                                "@empty(body('Parse_JSON_result_applications')?['@odata.nextLink'])",
                                                "@false"
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Set_next_batch_applications": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "msGraphEndpoint",
                                            "value": "@body('Parse_JSON_result_applications')?['@odata.nextLink']"
                                        },
                                        "runAfter": {}
                                    }
                                },
                                "runAfter": {
                                    "Create_or_Update_applications": [
                                        "Succeeded"
                                    ]
                                },
                                "else": {
                                    "actions": {
                                        "Set_variable_loop_fetching": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "continueFetching",
                                                "value": "@false"
                                            },
                                            "runAfter": {}
                                        }
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Get_Bearer_Token": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Query_applications_owners": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "databaseId": "reporting",
                                "containerId": "reports",
                                "queryText": "select c.id,c.displayName,o.userPrincipalName as owner \n  from c\n  JOIN o IN c.owners"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureCosmosDB",
                                "operationId": "QueryDocuments",
                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                            }
                        },
                        "runAfter": {
                            "Until_result_to_fetch": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Create_CSV_list_of_owners": {
                        "type": "Table",
                        "inputs": {
                            "from": "@body('Query_applications_owners')?['items']",
                            "format": "CSV"
                        },
                        "runAfter": {
                            "Query_applications_owners": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Upload_blob_list_application_owners": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "containerName": "reports",
                                "blobName": "@concat('apps_owner_',variables('currentDate'),'.csv')",
                                "content": "@body('Create_CSV_list_of_owners')",
                                "overrideIfExists": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureBlob",
                                "operationId": "uploadBlob",
                                "serviceProviderId": "/serviceProviders/AzureBlob"
                            }
                        },
                        "runAfter": {
                            "Create_CSV_list_of_owners": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Query_applications_with_less_than_two_owners": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "databaseId": "reporting",
                                "containerId": "reports",
                                "queryText": "select c.id,c.displayName\n  from c\n WHERE ARRAY_LENGTH(c.owners) < 2"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureCosmosDB",
                                "operationId": "QueryDocuments",
                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                            }
                        },
                        "runAfter": {
                            "Until_result_to_fetch": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Create_CSV_list_of_applications_without_two_owner": {
                        "type": "Table",
                        "inputs": {
                            "from": "@body('Query_applications_with_less_than_two_owners')?['items']",
                            "format": "CSV"
                        },
                        "runAfter": {
                            "Query_applications_with_less_than_two_owners": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Upload_blob_list_apps_with_less_than_two_owners": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "containerName": "reports",
                                "blobName": "@concat('app_less_two_owners_',variables('currentDate'),'.csv')",
                                "content": "@body('Create_CSV_list_of_applications_without_two_owner')",
                                "overrideIfExists": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureBlob",
                                "operationId": "uploadBlob",
                                "serviceProviderId": "/serviceProviders/AzureBlob"
                            }
                        },
                        "runAfter": {
                            "Create_CSV_list_of_applications_without_two_owner": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_secrets_to_expired": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "databaseId": "reporting",
                                "containerId": "reports",
                                "queryText": " select c.id AS ApplicationID,\n        c.displayName AS ApplicationName,\n        p.displayName AS CredentialName,\n        p.endDateTime AS CredentialExpirationEndDateTime\n  from c \n  JOIN p IN c.passwordCredentials\n WHERE p.endDateTime <= DateTimeAdd('mm',3,GetCurrentDateTime())"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureCosmosDB",
                                "operationId": "QueryDocuments",
                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                            }
                        },
                        "runAfter": {
                            "Until_result_to_fetch": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Create_CSV_list_of_credentials_to_be_expired": {
                        "type": "Table",
                        "inputs": {
                            "from": "@body('Get_secrets_to_expired')?['items']",
                            "format": "CSV"
                        },
                        "runAfter": {
                            "Get_secrets_to_expired": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Upload_blob_to_storage_container": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "containerName": "reports",
                                "blobName": "@concat('app_with_credentials_to_expired_',variables('currentDate'),'.csv')",
                                "content": "@body('Create_CSV_list_of_credentials_to_be_expired')",
                                "overrideIfExists": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureBlob",
                                "operationId": "uploadBlob",
                                "serviceProviderId": "/serviceProviders/AzureBlob"
                            }
                        },
                        "runAfter": {
                            "Create_CSV_list_of_credentials_to_be_expired": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_current_date": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_current_date": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "currentDate",
                            "type": "string",
                            "value": "@{utcNow('yyyyMM')}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_list_of_applications": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}